mixin testKviz(opts = {})
  -
    const hasGallery = opts.galerie !== undefined;
    const layout = (opts.nastaveni === undefined) || (opts.nastaveni.layout === undefined) ? "" : opts.nastaveni.layout

  .row.items.testKviz(class= hasGallery ? "with-submodule" : "")
    if (hasGallery)
      +gallery(opts.galerie, layout)
      +testKviz-component(opts)
    else
      +testKviz-component(opts)

mixin testKviz-component(opts)
  - testQuizId = (opts.id) ? opts.id : '';

  .test-quiz
    .hidden.module-settings(data-test-quiz-id-reference= testQuizId data-module-settings= opts)
    .table-container.test-quiz-container(id="" + testQuizId data-test-quiz-id="" + testQuizId data-target-test-quiz data-target="testKviz" data-save="html")

      each item, index in opts.zadani

        .table.table-2.test-quiz-item(data-module-answer= (item.spravnaOdpoved - 1))
          .heading
            span !{item.otazka}

          each option, optionIndex in item.odpovedi

            - isSelected = (option.selected) ? 'selected' : '';

            .cell-border-right.option(class= isSelected id="odpoved-" + testQuizId + "-" + index + "-" + optionIndex)
              span.tick
              span.text #{option.text}
