<h2>Mnichovská dohoda</h2>

<p>Mnichov, 29. září 1938</p>

<p>Německo, Spojené království, Francie a Itálie se shodly se zřetelem k dohodě, jíž bylo v podstatě dosaženo o odstoupení sudetoněmeckého území, na těchto podmínkách a způsobech tohoto odstoupení a na opatřeních, jež třeba proto učinit, a prohlašují, že podle této dohody je každý jednotlivě odpověden za kroky, které je třeba učinit, aby bylo zajištěno její provedení.</p>

<p>§ 1 <br>
Vyklizování započne 1. října.</p>

<p>§ 2 <br>
Spojené království, Francie a Itálie se shodují v tom, že vyklizení bude provedeno do 10. října, a to bez ničení jakýchkoli existujících zařízení, a že československá vláda je odpovědna za to, že vyklizení bude provedeno bez poškození uvedených zařízení.</p>
