<h1>Gangsteři</h1>
<p>V těchto dnech dověděla se celá světová veřejnost o novém provokativním činu amerických imperialistů, který vyvolal hněv a rozhořčení všech čestných lidí.</p>
<p>Za pomoci svého agenta a jím řízené tlupy teroristů organisovali na železniční trati další zločin, připomínající methody chicagských gangsterů.Únos československých občanů a krádež celé rychlíkové soupravy z území Československé republiky, který za pomoci svého agenta organisovali, teroristické metody agentů CIC a silného oddílu vojska, který v německé pohraniční stanici Selbu již očekával zločinné únosce a spolu s nimi terorisoval pod hrozbou kulometů unesené československé občany, neslýchané jednání s komisí československých diplomatických zástupců a jejich několikahodinový - výslech - to je nejnovější ukázka amerických gangsterských method.</p>
<p>[ … ]</p>
<p>Tento nejnovější gangsterský kousek je pak dalším důkazem toho, jak šerifové z Wall Streetu, kteří si pletou Evropu s divokým západem, svými činy dokazují lživost svých slov a jen ještě více odhalují svou pravou špinavou a podlou tvář.</p>
<p>Ukazuje se den po dni, jak roste zběsilost dolarových vládců Ameriky a jejich evropských gauleiterů, zběsilost, jejíž rodnou matkou je strach.</p>
<p>Čím jasněji rostou úspěchy Sovětského svazu a zemí lidové demokracie, čím víc mohutní světový mírový tábor, a čím i ostřeji se rýsuje příznak nastávající krise v kapitalistických zemích, tím zběsilejší strach jimi zmítá. Strach, že se nepodaří zadržet krach mezinárodního imperialismu, že se jim nepodaří udržet již dlouho lid vlastních zemí v nevědomosti, že tento lid smete imperialistické vydřiduchy bude-li vidět rozkvět zemí, kde lidé žijí opravdu lidsky a že připraví pro dolarové válečné žháře, pro tyto nové hitlerčíky i nový Norimberk.</p>
